<app-navbar></app-navbar>

<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Nos Chambres Incroyables</h1>
          <form class="form-inline my-2 my-lg-0" (submit)="searchChambers()">
            <!-- Add the dropdown for bloc names -->
            <select class="form-select mr-sm-2" [(ngModel)]="selectedBloc" name="selectedBloc">
              <option value="" disabled selected>Choisissez un Bloc</option>
              <option *ngFor="let bloc of blocs" [value]="bloc.nomBloc">{{ bloc.nomBloc }}</option>
            </select>

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
          </form>
          <div class="alert alert-success" *ngIf="errorMessage && !selectedBloc">
            {{ errorMessage }}
        </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- ======= Blog Grid ======= -->
<div class="container" *ngIf="showHiddenSection">
  <section class="news-grid grid" *ngIf="chambers.length > 0">
    <div class="row">
    
      <div class="col-md-4">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b" [hidden]="!showHiddenSection">
            <img src="assets/img/post-4.jpg" alt="" class="img-b img-fluid">
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              
              <div class="card-title-b">
                <h2 class="title-2">
                  <a [routerLink]="['/', selectedBloc, 'chambre-simple']">Chambre Simple</a>
                </h2>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b" [hidden]="!showHiddenSection">
            <img src="assets/img/post-5.jpg" alt="" class="img-b img-fluid">
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
             
              <div class="card-title-b">
                <h2 class="title-2">
                  <a [routerLink]="['/', selectedBloc, 'chambre-double']">Chambre Double</a>
                </h2>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b" [hidden]="!showHiddenSection">
            <img src="assets/img/post-6.jpg" alt="" class="img-b img-fluid">
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
            
              <div class="card-title-b">
                <h2 class="title-2">
                  <a [routerLink]="['/', selectedBloc, 'chambre-triple']">Chambre Triple</a>
                </h2>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    

</section>
<!-- End Blog Grid -->
