.form-section {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-bottom: 1px;
  }
  
  .center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button.mat-raised-button {
    font-size: 1.2em;
    padding: 12px 24px;
  }
  