<app-navbar></app-navbar>
<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Chambre Triple</h1>
         
        </div>
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= Blog Single ======= -->
<section class="news-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="news-img-box">
          <img src="assets/img/post-single-1.jpg" alt="" class="img-fluid">
        </div>
        
      </div>
    </div>
  </div>
    <div class="col-md-12 section-t3">
      <div class="title-box-d">
        <h3 class="title-d">Description</h3>
      </div>
    </div>
    <div class="">
      <p>La chambre triple dans notre foyer universitaire est conçue pour accueillir trois étudiants. Avec des configurations de lits variées, cette chambre offre suffisamment d'espace pour chaque occupant. Elle encourage la socialisation et la collaboration tout en offrant des espaces individuels pour étudier et se détendre. Parfaite pour les groupes d'amis ou les étudiants souhaitant partager une expérience universitaire enrichissante.</p>
</div>
<div class="col-md-12 section-t3">
  <div class="title-box-d">
    <h3 class="title-d">Nombre de chambre triple disponible</h3>
  
  </div>
  <p class="title-single"> {{ nbChambresDisponibles }}</p>
</div>

    </section><!-- End Blog Single -->
