<app-navbar></app-navbar>
<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{{foyer.nomFoyer}} </h1>
              <span class="color-text-a">Le Foyer {{foyer.nomFoyer}} accepte {{foyer.capaciteFoyer}} étudiants chaque année.</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Foyer
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-12">
            <div class="news-img-box">
              <img class="img-fluid"  [src]="'data:' + foyer.image?.image_type + ';base64,' + foyer.imagebyte" alt="Foyer Image">
            </div>
          </div>
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="post-information">  
             <h2 class="list-inline text-center color-a"> Liste Des Blocs De {{foyer.nomFoyer}} </h2>
            <div *ngFor="let bloc of blocs" >
              <ul class="list-inline text-center color-a">
                <li class="list-inline-item mr-2">
                  <strong>bloc name : </strong>
                  <span class="color-text-a">{{bloc.nomBloc}}</span>
                </li>
                <li class="list-inline-item mr-2">
                  <strong>Capacite de block : </strong>
                  <span class="color-text-a">{{bloc.capaciteBloc}}</span>
                </li>
                <li class="list-inline-item mr-2">
                  <strong>Consulter les Chambres ici :</strong>
                  <a routerLink="/chambres" class="btn btn-primary btn-sm">Consult</a>
                </li>
              </ul>
            </div>
            </div>
            <div class="post-content color-text-a">
                <p  > {{foyer.description}}  </p>
            </div>
            <div class="post-footer">
              <div class="post-share">
                <span>Contact: </span>
                <ul class="list-inline socials">
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section><!-- End Blog Single-->

  </main><!-- End #main -->