/* Adjust the height and width of the description textarea */
.form-control-a {
  height: 200px; /* Adjust the desired height */
  resize: vertical; /* Allow vertical resizing */
}

/* Make first and last name input fields appear on the same line */
.col-md-6 {
  display: inline-block;
}

/* Add some margin between form controls for better spacing */
.form-group {
  margin-bottom: 10px;
}
