<app-navbar></app-navbar>
<main id="main">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Create New Univeriste</h1>
            <div class="icon-box">
              <div class="icon-box-icon">
                <span class="bi bi-share"></span>
              </div>
              <div class="icon-box-content table-cell">
                <div class="icon-box-title">
                  <h4 class="icon-title">Information : How it works !</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb"
            class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                new Univeriste
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Contact Single ======= -->
  <section class="contact">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <!-- Added justify-content-center and align-items-center -->
        <div class="col-sm-12 section-t8">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <form [formGroup]="universiteForm" (ngSubmit)="onSubmit()"
                novalidate class="needs-validation">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input type="text" formControlName="nomUniversite"
                        class="form-control"
                        placeholder="University Name"
                        [class.is-invalid]="universiteForm.get('nomUniversite')?.invalid
                        && universiteForm.get('nomUniversite')?.dirty ">

                      <div class="invalid-feedback">
                        <app-errormsg
                          [err]="universiteForm.get('nomUniversite')"
                          [field]="'nomUniversite'"></app-errormsg>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input type="text" formControlName="adresse"
                        class="form-control"
                        placeholder="Adresse"
                        [class.is-invalid]="universiteForm.get('adresse')?.invalid
                        && universiteForm.get('adresse')?.dirty ">

                      <div class="invalid-feedback">
                        <app-errormsg [err]="universiteForm.get('adresse')"
                          [field]="'adresse'"></app-errormsg>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea type="text" formControlName="description"
                        class="form-control"
                        placeholder="Description"
                        [class.is-invalid]="universiteForm.get('description')?.invalid
                                && universiteForm.get('description')?.dirty">
                      </textarea>
                      <div class="invalid-feedback">
                        <app-errormsg [err]="universiteForm.get('description')"
                          [field]="'description'"></app-errormsg>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="email" type="email" formControlName="email"
                        class="form-control "
                        placeholder="Email"
                        [class.is-invalid]="universiteForm.get('email')?.invalid &&
                                             universiteForm.get('email')?.dirty " />
                      <div class="invalid-feedback">
                        <app-errormsg [err]="universiteForm.get('email')"
                          [field]="'email'"></app-errormsg>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="firstNameAgent" type="firstNameAgent"
                        formControlName="firstNameAgent"
                        class="form-control"
                        placeholder="firstNameAgent"
                        [class.is-invalid]="universiteForm.get('firstNameAgent')?.invalid &&
                                             universiteForm.get('email')?.dirty " />
                      <div class="invalid-feedback">
                        <app-errormsg
                          [err]="universiteForm.get('firstNameAgent')"
                          [field]="'firstNameAgent'"></app-errormsg>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="lastNameAgent" type="lastNameAgent"
                        formControlName="lastNameAgent"
                        class="form-control "
                        placeholder="lastNameAgent"
                        [class.is-invalid]="universiteForm.get('lastNameAgent')?.invalid &&
                                             universiteForm.get('lastNameAgent')?.dirty " />
                      <div class="invalid-feedback">
                        <app-errormsg
                          [err]="universiteForm.get('lastNameAgent')"
                          [field]="'lastNameAgent'"></app-errormsg>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="logo">Choose Logo:</label>
                    <div class="custom-file">
                      <input type="file" id="logo"
                        (change)="onLogoSelected($event)"
                        class="custom-file-input">
                      <label class="custom-file-label" for="logo">Select file...</label>
                    </div>
                  </div>
                  <div *ngIf="imagePreview" class="mt-3">
                    <label class="d-block">Logo Preview:</label>
                    <div class="text-center">

                      <img [src]="imagePreview" alt="Image Preview"
                        class="img-thumbnail"
                        style="max-width: 150px; max-height: 150px;">

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="justification">Choose justification:</label>
                    <div class="custom-file">
                      <input type="file" id="justification"
                        (change)="onJustificationSelected($event)"
                        class="custom-file-input">
                      <label class="custom-file-label" for="justification">Select
                        file...</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="attestation">Choose Attestation:</label>
                    <div class="custom-file">
                      <input type="file" id="attestation"
                        (change)="onAttestationSelected($event)"
                        class="custom-file-input">
                      <label class="custom-file-label" for="attestation">Select
                        file...</label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="image" class="mr-2">Choose University Image :</label>
                    <div class="custom-file">
                      Choose an Image:
                      <input type="file" id="image"
                        (change)="onFileSelected($event)"
                        class="custom-file-input"
                        style="font-size: 16px; padding: 10px;" required>
                      <label class="custom-file-label" for="image">Select
                        file...</label>
                    </div>
                  </div>

                  <div *ngIf="imagePreview" class="mt-3">
                    <label class="d-block">Image Preview:</label>
                    <div class="text-center">
                      <img [src]="imagePreview" alt="Image Preview"
                        class="img-thumbnail"
                        style="max-width: 150px; max-height: 150px;">
                    </div>
                  </div>

                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-a"
                      [disabled]="universiteForm.invalid">Create New Universite</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Single-->

</main><!-- End #main -->
