<app-navbar></app-navbar>

<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Chambre Double</h1>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= Blog Single ======= -->
<section class="news-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngFor="let chambre of chambres">
        <div class="card border-info mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ chambre.typeC }}</div>
          <div class="card-body text-info">
            <h5 class="card-title">Chambre {{ chambre.numerochamber }}</h5>
            <p class="card-text">{{ chambre.description }}</p>
            <p class="card-text">Etat: {{ chambre.etat }}</p>
            <!-- Add more details as needed -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Blog Single -->
