<app-navbar></app-navbar>
<!-- ======= Intro Single ======= -->
<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Chambre Double</h1>
         
        </div>
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= Blog Single ======= -->
<section class="news-single nav-arrow-b">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="news-img-box">
          <img src="assets/img/post-single-1.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 section-t3">
    <div class="title-box-d">
      <h3 class="title-d">Description</h3>
    </div>
  </div>
  <div class="">
    <p>La chambre double est conçue pour accueillir deux personnes et est équipée d'un grand lit ou de lits jumeaux. Elle offre davantage d'espace que la chambre simple et est parfaite pour les couples ou les amis voyageant ensemble. Les chambres doubles comprennent souvent des commodités supplémentaires pour garantir un séjour confortable à deux.</p>
</div>
<div class="col-md-12 section-t3">
<div class="title-box-d">
  <h3 class="title-d">Nombre de chambre double disponible</h3>

</div>
<p class="title-single"> {{ nbChambresDisponibles }}</p>
</div>

  </section><!-- End Blog Single -->
