<head>

</head>
<body>
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-t8">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-single">Creation du nouvelle demande</h1>
                        <div class="alert alert-success" role="alert" [hidden]="hideDemande">
                           Merci pour Votre Demande ! Pour suivre Votre Demande . Tu peut consulter 
                           Votre Dashboard 
                          </div>
                          
                        <form method="post" role="form"  [formGroup]="demande" 
                        novalidate class="needs-validation">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <input type="text" name="name" formControlName ="name"
                                            class="form-control form-control-lg form-control-a"
                                            placeholder="name" 
                                            [class.is-invalid]="demande.get('name')?.invalid 
                                            && demande.get('name')?.dirty ">
                                        
                                        <div  class="invalid-feedback">
                                            <app-errormsg [err]="demande.get('name')" 
                                            [field]="'name'"></app-errormsg>
                                        </div> 
                                          
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <input type="text" name="prename"  formControlName ="prename"
                                            class="form-control form-control-lg form-control-a"
                                            placeholder="prename"    [class.is-invalid]="demande.get('prename')?.invalid 
                                            && demande.get('prename')?.dirty">
                                        
                                        <div  class="invalid-feedback">
                                            <app-errormsg [err]="demande.get('prename')" 
                                            [field]="'prename'"></app-errormsg>
                                        </div> 
                                            
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <input name="email" type="email"  formControlName ="email"
                                            class="form-control form-control-lg form-control-a"
                                            placeholder="Email"   [class.is-invalid]="demande.get('email')?.invalid &&
                                             demande.get('email')?.dirty  "
                                            />
                                        <div class="invalid-feedback">
                                            <app-errormsg [err]="demande.get('email')" 
                                            [field]="'email'"></app-errormsg>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <input name="cin" type="text"  formControlName="cin"
                                            class="form-control form-control-lg form-control-a"
                                            placeholder="cin" [class.is-invalid]="demande.get('cin')?.invalid 
                                            && demande.get('cin')?.dirty">
                                        
                                        <div  class="invalid-feedback">
                                            <app-errormsg [err]="demande.get('cin')" 
                                            [field]="'cin'"></app-errormsg>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <select  formControlName="ecole" 
                                            class="form-control form-control-lg form-control-a">
                                            <option> Select Universite </option>
                                            <option *ngFor="let universite of universites"> {{universite.nomUniversite}} </option>
                                        
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <select formControlName="typeChamber" 
                                            class="form-control form-control-lg form-control-a">
                                            <option > Select Type Chamber</option>
                                            <option> Simple </option>
                                            <option> Double </option>
                                            <option> Triple </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <select formControlName="anneeUniversitaire"
                                            class="form-control form-control-lg form-control-a">
                                            <option> Select Année universitaire</option>
                                            <option> 2023/2024 </option>
                                            <option> 2024/2025 </option>
                                            <option> 2025/2026 </option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                    <div class="form-check form-switch">
                                        <input formControlName="autoRenewed" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Renouvelement automatique </label>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button (click)="saveDemande()" [disabled]="demande.invalid" type="submit" class="btn btn-a">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Single-->


</body>